<div class="clearBoth"></div>
<div class="row footer-row" style="border-top: solid 1px #666; padding: 20px">
	<img class="img-responsive col-md-1 col-lg-1 col-sm-2" src="images/amherst.png">
	<div class="col-xs-6 col-md-3 col-lg-3 col-sm-2">
		<a style="font-size:22px" target="_blank" href="http://www.amherst.edu">Amherst College</a>
		<br>
		Amherst, MA 01002
		<br>
		(413) 542-2000
	</div>
	<ul class="col-xs-6 col-md-2 col-lg-2 col-sm-2" style="border-left: solid 1px #666">
		<li><a target="_blank" href="mailto:amherstschubert@gmail.com">Contact Us</a></li>
		<li><a href="#/about">About</a></li>
		<li><a href="#/join">Tickets</a></li>
		<li><a target="_blank" href="https://www.amherst.edu/aboutamherst/visiting/directions">Getting Here</a></li>
	</ul>
	<div class="box-office col-xs-12 col-md-6 col-lg-6 col-sm-6" style="text-align:right;">
		<strong>Box Office:</strong> 
		<a  target="_blank" href="mailto:amherstschubert@gmail.com">AmherstSchubert@gmail.com</a>
		<div class="clearBoth"></div>
		<div  style="margin:7px 0px;" class="fb-like" data-href="http://www.facebook.com/amherstschubert" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
		<div class="clearBoth"></div>
		<a href="https://twitter.com/amherstschubert" class="twitter-follow-button" data-show-count="false">Follow @amherstschubert</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<p style="font-size:8px; margin-top:4px">The Amherst Schubert Project is supported by the Amherst Art Series Fund and the H. Axel Schupf '57 Fund for Intellectual Life's Faculty Research Awards Program.<br><br>We can also keep the thanks to the Eric Lessing Art Resource.</p>
	</div>
</div>
