<div class="row concerts">
	<div class="box col-md-12">
		<h2 class="center">THREE CONCERTS IN THREE DAYS</h2>
		<h3 class="center">Arms Music Center at Amherst College</h3>
		<div class="border">
			<div class="row">
				<p class="col-sm-4"><strong>Friday, Sept. 19 at 8 pm</strong></p>
				<p class="col-sm-8 right">Mozart “Hunt” Quartet &amp; Schubert Cello Quintet</p>
			</div>
			<div class="row">
				<p class="col-sm-4"><strong>Saturday, Sept. 20 at 8 pm</strong></p>
				<p class="col-md-8 right">Bartók Quartet no. 3 &amp; Schubert Cello Quintet</p>
			</div>
			<div class="row">
				<p class="col-sm-4"><strong>Sunday, Sept. 21 at 3 pm</strong></p>
				<p class="col-sm-8 right">Schubert “Death and the Maiden” &amp; Schubert Cello Quintet</p>
			</div>
		</div>
		
<!-- 		<a class="white" href="#/join">Click here for tickets!</a>
 -->	</div>
</div>
