<div class="events">
	<div class="row">
		<div image-swap url="#/events/recording" img="images/events/recording_og.jpg" hover="images/events/recording.jpg"></div>
		<div image-swap url="#/events/symposium" img="images/events/symposium_og.jpg" hover="images/events/symposium.jpg"></div>
		<div image-swap url="#/events/mead" img="images/events/mead_og.jpg" hover="images/events/mead.jpg"></div>
		<div image-swap url="#/events/screening" img="images/events/screening_og.jpg" hover="images/events/screening.jpg"></div>

	<!-- 	<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="">
			<img class="img-responsive" ng-src="{{eventImgs.recording}}">
		</a> -->
	<!-- 	<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="">
			<img class="img-responsive" ng-src="{{eventImgs.symposium}}">
		</a>
	</div>
	<div class="row">
		<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="">
			<img class="img-responsive" ng-src="{{eventImgs.mead}}">
		</a>
		<a class="col-lg-6 col-md-6 col-sm-12 col-xs-12" href="">
			<img class="img-responsive" ng-src="{{eventImgs.screening}}">
		</a> -->
	</div>
</div>

<!-- <div class="row">
	<img style="margin-top:20px" class="col-sm-12 col-lg-6 col-md-6 img-responsive" src="images/brentanos.jpg">
	<h3 class="col-sm-12 col-lg-6 col-md-6">Live Recording Project</h3>
	<p class="col-sm-12 col-lg-6 col-md-6">Where the audience matters! Most recordings today are done in studios without the energy that audiences provide. Occasionally, orchestral recordings are released after a series of live concerts. But, even then, much of the final work is done without the audience present. When it comes to chamber music, a live recording is virtually unheard of, either now or in the past. Our dedication to this project reflects the Brentano Quartet's strong belief in the importance of an audience's participation and the audience's powerful effect on the communication that ultimately occurs.</p>
</div>
<div class="row">
	<img style="margin-top:20px" class="col-sm-12 col-lg-6 img-responsive col-md-6" src="images/collage.jpg">
	<h3 class="col-sm-12 col-lg-6 col-md-6">Symposium</h3>
	<p class="col-sm-12 col-lg-6 col-md-6">Special opportunity to engage with scholars and performances in the consideration of new modes of understanding Schubert’s Cello Quinet.
	<br>
	Hear the long forgotten George Onslow quintets, Schubert's men's choruses, sung and in arrangments for cello quintet, and Schubert-inspired new works by Amherst composers Jacob Cooper '02, Eric Wubbels '01, and Daniel Ang '15. 
	</p>
</div>
<div class="row">
	<img style="margin-top:20px" class="col-sm-12 img-responsive col-lg-6 col-md-6" src="images/rotherwas.jpg">
	<h3 class="col-sm-12 col-lg-6 col-md-6">The Mead Presents: The Schubert Quintet Sound Installation</h3>
	<p class="col-sm-12 col-lg-6 col-md-6">Come learn about the Schubert project at the Mead and engage with the sound installation at the Rotherwas room. Five speakers, positioned in a large oval configuration, will encourage visitors to walk among hte speakers and heaer individual instruments, interplay among instruments, or the whole. Whereas musicans often experience this sensation as a part of an ensemble, this installation offers a similar opportunity to hear one instrument at a time, or in groups of two or three. This experience will take place not just in any room, but in this special wood panelled room finished in 1611 and reassembled at Amherst in the 20th century. The installation opens Tuesday, August 26th and runs until Monday, September 22nd.</p>
</div>
<div class="row">
	<img style="margin-top:20px" class="col-sm-12 col-lg-6 img-responsive col-md-6" src="images/a_late_quartet.jpeg">
	<h3 class="col-sm-12 col-lg-6 col-md-6">Screening of A Late Quartet</h3>
	<p class="col-sm-12 col-lg-6 col-md-6">A Late Quartet (2012) features the Brentano quartet playing Beethoven's Opus 131 String Quartet, while paying homage to chamber music and the cultural world of New York. The seven movements of the piece echo their own tumultous journey. The cast includes Christopher Walken, Philip Seymour Hoffman, Catherine Keener, Mark Ivanir, and Imogen Poots.</p>
</div>
 -->




