<!--<h2>Participate in the live recording!</h2>
<p class="lead">Live recordings are hardly ever seen anymore, and this will be the first recording of its kind at Amherst and in Buckley. The quality of the recording and the Brentano's performance relies heavily on a devoted and interested audience.<br><br>Audience members who attend two or more concerts will be included in the booklet of the professional recording! Audience members who attend all three concerts will be given a free copy of the CD!</p>-->

<!--<h3>Tickets</h3>
<h4>Three options:</h4>
<ol>
	<li>Subscribe to <strong>Music @ Amherst</strong> and receive the first concert as part of your subscription. If you would like to reserve <em>free</em> tickets for concerts 2 and/or 3, sign up for our waitlist: <br><input><br><input type="checkbox">Concert 2 <input type="checkbox">Concert 3<br><input type="submit"></li>
	<li></li>
	<li><a target="_blank" href="http://amherst.universitytickets.com/user_pages/event_listings.asp">Purchase</a> a ticket to Concert 1. If you would like to reserve <em>free</em> tickets for concerts 2 and/or 3, sign up for our waitlist: <br><input><br><input type="checkbox">Concert 2 <input type="checkbox">Concert 3<br><input type="submit"></li>
	<li>Sign up to be on a waitlist for free tickets to Concert 2 and/or 3 (depends on availability).<br><input><br><input type="checkbox">Concert 2 <input type="checkbox">Concert 3<br><input type="submit"></li>
</ol>-->
	<div class="schedule center">
		<h2 class="center">THREE WAYS TO GET TICKETS</h2>
		<div class="row tickets" >
			<div class="col-md-4">
				<h4 class="bold">Subscribe to Music at Amherst Chamber Series</h4>
				<ul>
					<li><a target="_blank" href="https://amherst.universitytickets.com">Sign up</a> for a ticket to the Friday concert.<br>Reserve the same seat at no additional charge for the Saturday &amp; Sunday concerts.</li>
					<li>Renewal deadline: <span class="italic">Friday, August 22</span></li>
					<li>New subscription deadline: <span class="italic">Friday, August 29</span></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4 class="bold">Buy a single ticket</h4>
				<ul>
					<li><a target="_blank" href="https://amherst.universitytickets.com">Order a ticket</a> to the Friday concert.<br>Receive tickets at no additional charge for Saturday &amp; Sunday concerts.</li>
					<li>Single tickets on sale: <span class="italic">Friday, September 5</span></li>
				</ul>
				<p></p>
			</div>

			<div class="col-md-4">
				<h4 class="bold">Register for a spot on the waitlist</h4>
				<ul>
					<li>Join the waitlist for a chance to attend Saturday &amp; Sunday concerts at no charge.</li>
					<li>Waiting list opens: <span class="italic">Friday, September 5</span></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4><strong>JOIN THE WAITLIST</strong></h4>
				<p><a target="_blank" href="https://docs.google.com/forms/d/1S0aKv1s0CzkzRK4lYLPBYhymzqxFTSSyoS1XNiADl_U/viewform?usp=send_form">Join the waitlist</a> for tickets to Saturday and Sunday concerts at no charge. Waitlist closes Thursday, September 11 at Midnight.</p>
			</div>
			
		</div>

				
	<!-- 	<div class="row newsletter">
				<div class="col-md-12">
					To be the first to hear about important updates and ticket information, sign up for our mailing list: <br>
					<input> <button>Sign Up</button>
				</div>	
			</div> -->

			
	</div>
	<div concerts></div>
