<!-- <a class="tickets floatRight" href="#/join">Click here for tickets!</a>
 -->

<div class="row">
	<img style="padding:0px; margin-bottom:20px" class="img-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12" src="images/events/front.jpg">
</div>

<h4 class="center participate"><a href="#/join">PARTICIPATE AS A DEDICATED AUDIENCE MEMBER!</a></h4>
<ul class="participate center no-margin no-padding">
	<li>Attend pre-concert and talk back sessions</li>
	<li>Attend two concerts and be listed in the CD booklet</li>
	<li>Attend all three concerts and receive a signed CD</li>
</ul>

<div class="symposium">
	<div class="row">
		<h2>SYMPOSIUM</h2>
		<h3>Amherst College Campus</h3>
		<div class="col-md-4">
			<h4 class="bold">THREE POCKET RECITALS</h4>
			<ul>
				<li class="bold">Saturday, Sept. 20</li>
				<li>George Onslow Cello Quintets</li>
				<li>Arrangements of Men's Choral Works</li>
				<li>featuring the Wistaria Quartet &amp; Voicy Pelletier and the Men of Da Camera Singers</li>
			</ul>
			<ul>
				<li class="bold">Sunday, Sept. 21</li>
				<li>Schubert-Inspired Works by Amherst Composers</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h4 class="bold">LECTURES &amp; DISCUSSION</h4>
			<ul>
				<li class="bold">Saturday, Sept. 20</li>
				<li>John M. Gingerich,</li>
				<li>author of <span class="italic">Schubert's Beethoven Project</span></li>
				<li><br>Christopher Gibbs,</li>
				<li>James H. Ottaway Jr. Professor of Music, Bard College</li>
				<li><br>Breakfast &amp; Lunch</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h4 class="bold">SPECIAL EVENTS</h4>
			<ul>
				<li class="bold">Aug. 26-Sept.28</li>
				<li>Mead Art Museum</li>
				<li>Schubert Quintet Sound Installation</li>
			</ul>
			<ul>
				<li>Keefe Campus Center</li>
				<li>Screening of <span class="italic">A Late Quartet</span>, Soundtrack by the Brentano Quartet with Phillip Seymour Hoffman</li>
			</ul>
		</div>
	</div>
</div>




