<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Recent press and blog articles!</h3>
			<p><a target="_blank" href="https://www.amherst.edu/academiclife/dean_faculty/funding/research/frap/awards/frap-awards-spring-2013">Check out this article about</a> <strong>Amherst College's Faculty Research Award Program (FRAP)</strong> which is providing the funding for this project!</p>
		</div>
		<div class="col-sm-6">
			<h3>Check us out on Twitter!</h3>
			<div twitter-timeline="456494570583240704" auto-resize="true" css-url="styles/twitter.css" data-tweet-limit="5">Loading tweets...</div>
		</div>
	</div>
</div>