<table class="schedule">
	<tr>
		<td>
			<strong>Tuesday, August 26 - Sunday, September 28</strong>
			<br>
			Listen every hour on the hour
			<br>
			<span class="italic">Rotherwas Room, Mead Art Museum</span>
		</td>
		<td style="max-width:615px;">
			<strong>Sound Installation Opening:</strong>
			<br>
			Hear the Brentano Quartet play Schubert Quintet <a href="#/events/mead">one voice at a time over five monitor speakers.</a>
		</td>
		<td>
			Free and open to the public.
			<br>	
			Check back for times of special talks and events!
		</td>
	</tr>
	<tr>
		<td>
			<strong>Thursday, September 11 - Sunday, September 14</strong>
			<br>
			Check back for screening times. 
			<br>
			Keefe Campus Center Theater
		</td>
		<td style="max-width:615px;">
			<strong>Screening:</strong>
			<br>
			<a href="#/events/screening"><span class="italic"><strong>A Late Quartet</strong></span></a> featuring The Brentano Quartet on the soundtrack and cellist Nina Lee on screen with actors Christopher Walken, Philip Seymour Hoffman, Catherine Keener, Mark Ivanir, and Imogen Poots.
		</td>
		<td>
			Free and open to the public.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Friday, September 19</strong>
			<br>
			3:00 PM
			<br>
			<span class="italic">Rotherwas Room, Mead Art Museum</span>
		</td>
		<td style="max-width:615px;">
			<strong>Schubert Project Kickoff Event:</strong>
			<br>
			Experience the <a href="#/events/mead">Schubert Quintet Sound Installation</a> and hear an introduction to the project with the Brentano Quartet &amp; Michael Kannen.
		</td>
		<td>
			Free and open to the public.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Friday, September 19</strong>
			<br>
			7:00 PM
			<br>
			<span class="italic">Buckley Recital Hall</span>
		</td>
		<td>
			<strong>Pre-concert Conversation:</strong>
			<br>
			<a href="#/events/recording">Brentano Quartet, Michael Kannen, &amp; guests</a>
		</td>
		<td>
			<a href="#/join">Reserve tickets, $$</a>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Friday, September 19</strong>
			<br>
			8:00 PM
			<br>
			<span class="italic">Buckley Recital Hall</span>
		</td>
		<td>
			<strong>Opening Concert:</strong>
			<br>
			Mozart "Hunt Quartet" and Schubert Cello Quintet
			<br>
			<a href="#/events/recording">Brentano Quartet &amp; Michael Kannen</a>
		</td>
		<td>
			<a href="#/join">Reserve tickets, $$</a>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			8:45 AM
			<br>
			<span class="italic">Arms Music Center</span>
		</td>
		<td>
			<strong>Breakfast:</strong>
			<br>
			<a href="">Coffee, Light Breakfast</a>
		</td>
		<td>
			No charge for symposium attendees.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			9:30 AM
			<br>
			<span class="italic">Room 3, Arms Music Center</span>
		</td>
		<td>
			<strong>Lecture:</strong>
			<br>
			<a href="#/about/people/john_gingerich">"Schubert's Beethoven Project"<br>John M. Gingerich</a>, author<br>Ioanida Costache, introduction
		</td>
		<td>
			Free and open to the public.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			11:00 AM
			<br>
			<span class="italic">Room 3, Arms Music Center</span>
		</td>
		<td>
			<strong>Pocket Recital:</strong>
			<br>
			<a href="#/events/symposium">George Onslow Cello Quintet mvts.</a><br>Wistaria Quartet with Voicy Pelletier &amp; Daniel Ang
			<br>
			Ioanida Costache, introduction
		</td>
		<td>
			Free and open to the public.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			12:00 PM
			<br>
			<span class="italic">Arms Music Center</span>
		</td>
		<td>
			<strong>Lunch:</strong>
			<br>
			Conversation with Artists and Guest Speakers
		</td>
		<td>
			No charge for symposium attendees.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			2:00 PM
			<br>
			<span class="italic">Room 3, Arms Music Center</span>
		</td>
		<td>
			<strong>Lecture:</strong>
			<br>
			<a href="#/about/people/christopher_gibbs">"Late Schubert"<br>Christopher Gibbs, James H. Ottaway Jr. Professor of Music at Bard College</a>
			<br>Ioanida Costache, introduction
		</td>
		<td>
			Free and open to the public.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			3:30 PM
			<br>
			<span class="italic">Room 3, Arms Music Center</span>
		</td>
		<td>
			<strong>Pocket Recital:</strong>
			<br>
			<a href="#/events/symposium">Schubert Men's Choral Music, sung and played in quintet arrangements</a><br>Wistaria Quartet &amp; Men of the Da Camera Singers<br>Ioanida Costache, introduction
		</td>
		<td>
			Free and open to the public.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			7:00 PM
			<br>
			<span class="italic">Buckley Recital Hall</span>
		</td>
		<td>
			<strong>Pre-concert Conversation:</strong>
			<br>
			<a href="#/events/recording">Brentano Quartet, Michael Kannen, &amp; guests</a>
		</td>
		<td>
			<a href="#/join">Reserved tickets, no charge</a>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Saturday, September 20</strong>
			<br>
			8:00 PM
			<br>
			<span class="italic">Buckley Recital Hall</span>
		</td>
		<td>
			<strong>Second Concert:</strong>
			<br>
			<a href="">Bartok Quartet no. 3 &amp; Schubert Cello Quintet</a>
			<br>
			<a href="#/events/recording">Brentano Quartet, Michael Kannen, &amp; guests</a>
		</td>
		<td>
			<a href="#/join">Reserved tickets, no charge</a>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Sunday, September 21</strong>
			<br>
			12:00 PM
			<br>
			<span class="italic">Room 3, Arms Music Center</span>
		</td>
		<td>
			<strong>Pocket Recital:</strong>
			<br>
			<a href="#/events/symposium">Schubert Inspired works by Amherst Composers</a><br>Daniel Ang '15, Jacob Cooper '02, Eric Wcubbels '01
		</td>
		<td>
			Free and open to the public.
		</td>
	</tr>
	<tr>
		<td>
			<strong>Sunday, September 21</strong>
			<br>
			2:00 PM
			<br>
			<span class="italic">Buckley Recital Hall</span>
		</td>
		<td>
			<strong>Pre-concert Conversation:</strong>
			<br>
			<a href="">Brentano Quartet, Michael Kannen, &amp; guests</a>
		</td>
		<td>
			<a href="#/join">Reserved tickets, no charge</a>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Sunday, September 21</strong>
			<br>
			3:00 PM
			<br>
			<span class="italic">Buckley Recital Hall</span>
		</td>
		<td>
			<strong>Third Concert:</strong>
			<br>
			Schubert "Death and the Maiden" &amp; Schubert Cello Quintet
			<br>
			<a href="#/events/recording">Brentano Quartet, Michael Kannen, &amp; guests</a>
		</td>
		<td>
			<a href="#/join">Reserved tickets, no charge</a>
		</td>
	</tr>
</table>