<div class="row">
	<h2 class="col-sm-8 col-sm-offset-2" style="text-align:center">Screening of A Late Quartet</h2>
	<p class="col-sm-8 col-sm-offset-2"><br>A Late Quartet (2012) features the Brentano quartet playing Beethoven's Opus 131 String Quartet, while paying homage to chamber music and the cultural world of New York. The seven movements of the piece echo their own tumultous journey. The cast includes Christopher Walken, Philip Seymour Hoffman, Catherine Keener, Mark Ivanir, and Imogen Poots.</p>
</div>