
<div class="row">
<h2 class="col-sm-8 col-sm-offset-2" style="text-align:center">Live Recording Project</h2>
<p class="col-sm-8 col-sm-offset-2"><br>Where the audience matters! Most recordings today are done in studios without the energy that audiences provide. Occasionally, orchestral recordings are released after a series of live concerts. But even then, much of the final work is done without the audience present. When it comes to chamber music, live recordings are extremely rare. Our dedication to this project reflects the Brentano Quartet's committment to the importance of a live audience. <br><br>Learn more about our music producer and recording engineers <a href="#/about/people/alan_bise">Alan Bise</a> and <a href="#/about/people/bruce_egre">Bruce Egre</a>
</p>
<iframe class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-xs-12" width="560" height="315" src="//www.youtube.com/embed/bWTg4mdUPs4" frameborder="0" allowfullscreen></iframe>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/carousel/one.png">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="images/carousel/two.png" >
      <div class="carousel-caption">
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
